@import './variables.scss';

.project{
    min-height: 105vh;
   font-family: 'Raleway', sans-serif;
   
    h1{
        margin: 5% 0  0 15%;
        
    }

    &_detail{
        display: flex;
        align-items:flex-start;
        padding: 5% 10% 5% 0;


        &_text{
            margin-left: 16.5%;
            margin-right: 7%;
            line-height: 1.5rem;
            padding: 0 10% 0 0;
            

            h3{
                font-size: $primary-fontSize;
            }

        }

        &_image{
           margin-top: 2%;
           object-fit:cover
        }

        &_btn{
            margin-top: 6rem;
        }

        

        &_btndetail{
            color: #fff;
            width: 8rem;
            padding: .8rem 0;
            margin-right: 2rem;
            border: 0;
        }
    }
}

@media screen and (max-width: 1250px) {
    .project{
        &_detail{
            display: flex;
            flex-direction:column;

            &_text{
               order:2
            }

            &_image{
                margin-left: 16%;
                order:1
            }

            &_btn{
                margin-top: 2rem;
                
            }
        }
    }
}